/* Parent Ctonainer */
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-information-container {
  background: #facbd7;
  min-height: 25vh;
}

/* Related with product showcase */
/* Gridding for the colors the left pane*/

.hero-image-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(32, 1fr);
  max-height: 100vh;
}
.hero-image-1st-upperbox {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.hero-image-1st-lowerbox {
  grid-column: 1/9;
  grid-row: 22/-1;
}

.hero-image-2nd-lowerbox {
  grid-column: 9/-1;
  grid-row: 22/-1;
}

.hero-image-box {
  grid-column: 5/12;
  grid-row: 7/-1;
}

/* Image Relates */

.hero-image {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  object-fit: contain;
  border-radius: 20px;
  overflow: "hidden";
}

/* Related with information Showcase */

.hero-information-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  width: 50vw;
}

.information-title {
  background: blue;
  grid-column: 2/10;
  grid-row: 4/6;
}

.information-description {
  background: yellow;
  grid-column: 2/10;
  grid-row: 6/8;
}

.information-cart {
  background: green;
  grid-column: 1/-1;
  grid-row: 9/-1;
}
/* Responsive design for the image */
@media screen and (max-width: 800px) and (max-height: 740px) {
  /* Phone that's not so tall */
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-information-container {
    height: 25vh;
  }

  .hero-image-container {
    height: 75vh;
  }

  .hero-image-box {
    grid-column: 3/13;
    grid-row: 7/-1;
  }

  .hero-image {
    min-width: 0px;
  }
}
/* Responsive queries */
@media only screen and (max-width: 800px) and (min-height: 741px) and (max-height: 900px) {
  /* Phone that's tall like iphone X*/
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-information-container {
    height: 50vh;
    width: 100vw;
  }

  .hero-image-container {
    height: 75vh;
  }

  .hero-image-box {
    grid-column: 3/14;
    grid-row: 7/-1;
  }

  .hero-image {
    min-width: 0px;
  }
}

@media only screen and (max-width: 800px) and (min-height: 850px) {
  /* Ipad */
  .hero-container {
    grid-template-columns: 1fr;
  }

  .hero-information-container {
    height: 50vh;
    width: 100vw;
  }

  .hero-image-container {
    height: 75vh;
  }

  .hero-image-box {
    grid-column: 6/12;
    grid-row: 7/-1;
  }
}

@media screen and (min-width: 801px) and (max-width: 1150px) {
  /* Destkop Responsive */

  .hero-image-box {
    grid-column: 3/14;
    grid-row: 7/-1;
  }
}
