* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  color: #343969;
  font-family: "Raleway", sans-serif;
}

.color1 {
  color: white;
}
.font1 {
  font-family: "Open Sans Condensed", sans-serif;
}

.font2 {
  font-family: "Anton", sans-serif;
}

.font3 {
  font-family: "Six Caps", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Sora", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
}

.p2 {
  font-size: 1.5rem;
}

body {
  font-family: "Lato", sans-serif;
}

.relative {
  position: relative;
  z-index: -1;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.base-header-container {
  /* background-color: rgba(0, 0, 0, 0.582); */
  color: white;
  height: 70px;
  width: 100vw;
  position: fixed;
}

.button {
  background-color: #343969;
  color: white;
  border: 0px;
  padding: 10px 20px;
}

@media only screen and (max-width: 800px) {
  * {
    font-size: 14px;
  }
  .main-logo {
    height: 25px;
  }

  .icon {
    height: 20px;
  }

  .icon-small {
    height: 10px;
  }

  .mr-1 {
    margin-right: 10px;
  }

  .ml-1 {
    margin-left: 10px;
  }

  /* .button {
    padding: 5px 15px;
  } */
}

@media only screen and (min-width: 801px) {
  .main-logo {
    height: 30px;
  }

  .icon {
    height: 25px;
  }

  .icon-small {
    height: 10px;
  }

  .mr-1 {
    margin-right: 15px;
  }

  .ml-1 {
    margin-left: 15px;
  }
}
