/* .main > div {
  position: absolute;
}

.hero-image {
  width: 100px;
  height: 300px;
  object-fit: contain;
  border-radius: 20px;
  overflow: "hidden";
} */

/* .showcase-box > div {
  position: absolute;
} */
